/* estilo.css */

/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box; /* Inclui bordas e padding no tamanho total */
}

/* Estilo para o header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* estilo para navbar*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o main*/
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo para o carrossel */
.carousel {
    position: relative;
    max-width: 800px; /* Largura máxima do carrossel */
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Estilo para o footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}

/*formulário contato*/
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}